/* 태그 */
body {
    font-family: 'Noto Serif KR', serif;
}
h1, h2, h3, .navvar-brand {
    font-weight: bold;
}
li, p {
    font-size: 15pt;
}
/* 클래스 */
#c_toy1, #c_toy2 {
    background-color: #e9eff2;
}
.container {
    padding-top: 70px;
    padding-bottom: 90px;
}
.container h2, .container h3 {
    padding-top: 50px;
}
.carousel-caption {
    position: relative;
    bottom: 350px;
    left: 0px;
} 
.carousel-caption > p, #toy1 > h2 + p, #toy2 > h2 + p {
    margin-top: 15px;
}
.carousel-item, .carousel-item > img {
    width: 100%;
    height: 600px;
}
.col-sm-4 img {
    width: 100%;
}
.nav-link {
    font-size: 12pt;
    color: #cacaca!important;
}
.nav-item {
    padding-left: 10px;
}
.fa-id-badge + p > h3 {
    width: 550px;
    margin: 10px auto;
}
.fa-id-badge + p > h3 + ul {
    width: 500px;
    margin: 5px auto;
}
