body {
    font-family: 'Gowun Dodum', sans-serif;
}
h1, h2, h3, .navvar-brand {
    font-weight: bold;
}
li, p {
    font-size: 15pt;
    font-weight: bold;
}
#arrow {
    width: 100%;
    height: 250px;
    background-color: aliceblue;
}
#arrow > div > h2 {
    position: relative;
    bottom: 40px;
}
#arrow1 {
    position: relative;
    bottom: 30px;
}
#arrow2 {
    position: relative;
    bottom: 50px;
}
#c_toy {
    background-color: #e9eff2;
}
#c_intro > div > h2 > img, #toy > h2 > img, #team > h2 > img {
    position: relative;
    bottom: 5px;
    right: 1px;
}
#contact > p {
    font-size: 13pt!important;
    position: relative;
    bottom: 30px;
}
.container {
    padding-top: 70px;
    padding-bottom: 90px;
}
.container h2, .container h3 {
    padding-top: 50px;
}
.carousel-caption {
    position: relative;
    bottom: 350px;
    left: 0px;
} 
.carousel-caption > p, #toy > h2 + p, #contact > p {
    margin-top: 15px;
}
.carousel-item, .carousel-item > img {
    width: 100%;
    height: 600px;
}
.col-sm-4 img {
    width: 100%;
}
.col-md-8 {
    margin-top: 20px;
}
.fa-id-badge + p > h3 {
    width: 550px;
    margin: 10px auto;
}
.fa-id-badge + p > h3 + ul {
    width: 500px;
    margin: 5px auto;
}
.nav-link {
    font-size: 12pt;
    color: #cacaca!important;
}
.nav-item {
    padding-left: 10px;
}
#sendBtn {
    position: relative;
    left: 425px;
    top: 10px;
    border: 1px solid lightgray;
}
#skill > span {
    display: inline-block;
    padding-right: 30px;
    margin-right: 9px;
}
#skill > span > img {
    width: 130%;
}
#skill > span:first-child > img {
    position: 0px!important;
}
#skill > span:nth-child(5) > img {
    width: 90%!important;
    position: relative;
    left: 27px;
}
#skill > span:nth-child(6) > img {
    position: relative;
    left: 16px;
}
